{% extends 'base.html'%}
{% block subtitle %}Lista completa de voos  <i class="fa fa-plane" aria-hidden="true"></i>{% endblock %}
{% block section %}
<div>
  <table id="example" class="table is-striped" style="width:100%">
        <thead>
            <tr>
                <th>Origem</th>
                <th>Destino</th>
                <th>Distância</th>
                <th>Preço</th>
                <th>Tempo</th>
                <th>Avião</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <th>Origem</th>
                <th>Destino</th>
                <th>Distância</th>
                <th>Preço</th>
                <th>Tempo</th>
                <th>Avião</th>
            </tr>
        </tfoot>
    </table>
    </div>
  {% endblock %}

  {% block script %}
  <script>
  $(document).ready(function() {
    var oTable = $('#example').DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": "{% url 'order_list_json' %}"
    });

});
</script>
  {% endblock %}

